.content
  .user
    .user-image
      .user-icon
  .mypage
    .mypage-list
      .mypage-list--info
        お知らせ
      .mypage-list--todo
        やることリスト
    .tab-list
      .tab-list-info
        お知らせ1
        お知らせ2
        お知らせ3
        お知らせ4
        お知らせ5

      .tab-list-todo
        やるべきこと1
        やるべきこと2
        やるべきこと3
        やるべきこと4
        やるべきこと5
        
      -# .tab-item-not-found
      -#   現在やるべきことはありません

    .mypage-go-list
      = link_to('一覧を見る', {})
  
  .goods
    .goods-name
      購入した商品

    .goods-purchase
      .goods-purchase--transaction
        取引中
      .goods-purchase--post
        過去の取引

    .tab-list
      .tab-list--transaction
        取引1
        取引2
        取引3
        取引4
        取引5
      
      .tab-list--post
        過去購入物1
        過去購入物2
        過去購入物3
        過去購入物4
        過去購入物5

    -# .tab-content
    -#   .mypage-item-list
    -#     .mypage-item-not-found
    -#       現在やるべきことはありません

    .goods-go-list
      = link_to('一覧を見る', {})
      