.footer{
  background-color:#272727;
  color: #fff;
  padding: 60px 0;
  bottom: 0;
  .footer__menu{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    margin: 0 auto;
    max-width: 840px;
  .footer-nav{
   width: calc(100% / 3);
   list-style: none;
  .footer-nav__header{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 20px 0;
   }
    li{
      list-style: none;
      width : calc(100% / 3);
    a{
     text-decoration: none;
     color:#fff;
     font-size: 12px;
     white-space: nowrap;
     }
    }
   }
  }
  .footer__logo{
    text-align: center;
    margin: 0 auto;
    img{
      width: 150px;
    }
  }
  .Exhibition-Btn{
    background-color:#3CCACE ;
    width: 120px;
    right: 30px;
    bottom: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
  span.Exhibition-Btn__text{
      display: inline-block;
     }
  .Exhibition-Btn__text{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
   }
  .Exhibition-Btn__icon{
     width: 50px;
    }
  }
 }