.header{
  padding: 0 60px; 
   &__top{
     width: 100%;
     max-width: 1100px;
     height: 50px;
     margin: 0 auto;
     display: flex;
     text-align: center;
     position: relative;
     margin-top: 10px;
    }
    // &__bottom{
    //   position: fixed;
    // }
    &__title{
      margin: auto 25px 0;
    }
    &__searchBox{
      width: 100%;
      margin: 0 auto;
      form{
       display: flex;
       width: 100%;
       margin-bottom: 10px;
       height: 40px;
      .search-box{
        width: 100%;
       }
      .search__button{
       width: 35px;
       background-color: $selection-color;
       &__icon{
        padding: 8;
       }
      }
    img{
     width: 20px;
     background-color: $selection-color;
     }
    }
   }
   .form{
    margin-top: 5px;
   }
   
   &__bottom{
     display: flex;
     justify-content: space-between;
     margin: 20px 0;
    &-left{
     display: flex;
     margin-left: 35px;
     }                  
    .categoryBox{
     display: flex;
     margin-right: 20px;
     a{
      text-decoration: none;
      color: #333;
       img{
        width: 20px;
        height: 15px;
        margin-right: 5px;
        float: left;
       }
      }
        .parents{
          display: none;
          .child_list{
            display: none;
          }
        }
        
     }
    .category{
      display: none;
      position: absolute;
      z-index: 1;
      .categoryIndex{
        background-color: white;
        width: 200px;
        /*マウスホバー用に当てたcss あとで使用予定 */
        &--item{
          display: inline;
        border: 1px solid #CCCCCC;
        color: #000000;
        display: block;
        line-height: 1.2em;
        margin: 0.5em;
        padding: 0.5em;
        top: 50px;
        width: 12em;
        }
      }
    }
    .brand_box{
      img{
        width: 20px;
        height: 15px;
        margin-right: 5px;
       }
      a{
       text-decoration: none;
       color: $black-color;
      }
    }
    &-right{
      .user_box a{
       text-decoration: none;
       color: $black-color;
      }
    }
   } 

   .toppage__footer-nav-category{
    display: none;
    position: absolute;
    z-index: 5;
    left:0px;
    h2{
      a{
        span{
        &:hover {
        color: #0095EE;
          }
        }
      } 
    }
  }
  
  ul.category1{
    font-size: 20px;
    display: none;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 224px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-align: center;
    li{
    &:hover {
    background-color: #ea352d;
    a {
      color: #fff;
        }
      }
    }
  }
  
  ul.category2{
    z-index: 100;
    display: none;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: none;
    left: 320px;
    position: absolute;
    top: 95px;
    width: 224px;
    cursor: pointer;
    text-align: center;
    li.child__list{
      background-color: rgb(255, 255, 255);
    a{
      color:#000;
    }
  }
    li{
      &:hover {
      background-color: #ea352d;
      a {
        color: #fff;
          }
        }
      }
    }
  
  
  ul.category3{
    display: none;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: none;
    left: 224px;
    position: absolute;
    top: 0px;
    width: 320px;
    cursor: pointer;
    text-align: center;
    li.grandchild__list{
      background-color: rgb(255, 255, 255);
      a{
        color:#000;
      }
    }
    li{
      &:hover {
      background-color: #ea352d;
      a {
        color: #fff;
          }
        }
      }
  }
} 