.purchase{
  background-color: white;
  margin:20px 200px ;
  &__header{
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: $back-color;
    img{
      height: 50px;
     }
    }
  &__title{
    text-align: center;
    p{
      padding-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }
    
    p::after{
     content: '';
     display: block;
     border-width: 0;
     border-bottom: 1px solid #F2F2F2;
     padding-top: 30px;
    }
   }
   
  &__main{
    .purchase__information{
      margin: 50px 20px;
      .purchase__box{
        display: flex;
        justify-content: center;
        .purchase__image{
          padding-right: 10px;
          img{
            height: 80px;
            width: 80px;
          }
        }
      }
    }
    .price-before{
      display: block;
      border-width: 0;
      border-bottom: 1px solid #F2F2F2;
      width: 100%;
    }
    .form{
      padding: 0 150px 0 150px;
      .purchase__price{
        margin-bottom: 50px;
        .purchase__price-box{
          display: flex;
          justify-content: space-between;
          h1{
            text-align: center;
          }
        }
      }
      .purchase__underline{
       @include underline()
      }

      .purchase__method{
        margin-bottom: 50px;
        .purchase__top-box{
          display: flex;
          justify-content: space-between;
          height: 30px;
          a{
            padding-top: 15px;
            text-decoration: none;
            color: #0099e8;
          }
         }
        }

       .purchase__underline{
        @include underline()
      }
      .purchase__address{
        margin-bottom: 50px;
        .purchase__heading{
          display: flex;
          justify-content: space-between;
          height: 30px;
          a{
            padding-top: 15px;
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      
      .purchase__underline{
        @include underline()
      }
      .purchase__btn{
        margin-bottom: 30px;
        .btn-default{
          text-decoration: none;
          padding: 0.3em 1em;
          display: inline-block;
          border: 1px solid;
          background: #888;
          line-height: 50px;
          width: 100%;
          text-align: center;
          color: #fff;
        }
       }
      .purchase__app-btn{
        .inner__icon{
          display: flex;
          margin-top: 15px;
          text-align: center;
          img{
            height: 40px;
          }
         }
        }
       }
      }

  .purchase__footer{
    background-color: $back-color;
    padding: 20px 0;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    ul{
      display: flex;
    li{
      list-style: none;
      width: calc(1/3 * 100%);
      a{
        text-decoration: none;
      }
     }
    }
    &-logo{
      text-align: center;
      margin: 0 auto;
      width: 80px;
      margin-top: 30px;
      img{
        height: 50px;
      }
      p{
        font-size: 10px;
        display: inline;
      }
    }
  }
}