.footer 
  %ul.footer__menu
    %li.footer-nav
      %h2.footer-nav__header FURIMAについて
      %ul
        %li
          =link_to "会社概要（運営会社）","#" 
        %li
          =link_to "プライバシーポリシー","#"
        %li
          =link_to "FURIMA利用規約","#" 
        %li
          =link_to "ポイントに関する特約","#" 

    %li.footer-nav
      %h2.footer-nav__header FURIMAを見る
      %ul
        %li
          =link_to "カテゴリ一覧","#"
        %li
          =link_to "ブランド一覧", "#" 

    %li.footer-nav
      %h2.footer-nav__header ヘルプ＆ガイド
      %ul
        %li
          =link_to "FURIMAガイド","#" 
        %li
          =link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          =link_to "お知らせ","#" 

  .footer__logo
    =image_tag "logo-white.png"
    =link_to "" 
    %p © FURIMA 
    =link_to ""
  .Exhibition-Btn
    %span.Exhibition-Btn__text 出品する
    %img.Exhibition-Btn__icon{src: "assets/icon_camera.png"}