.wrapper
= render 'header'
= render 'main'
= render 'footer'


-# 以下はミニアプリ実装用コード、後ほど消す！！！！
-# %header
-#   .header
-#     %ul.parent-warp
-#       %li.parent
-#         %h3
-#           =link_to '/' do
-#             %span リスト1
-#         %ul.child-warp
-#           %li.child
-#             =link_to '/' do
-#               %span 1-1
-#             %ul.grand-child-warp
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 1-1-1
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 1-1-2
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 1-1-3
-#           %li.child
-#             =link_to '/' do
-#               %span 1-2

-#           %li.child
-#             =link_to '/' do
-#               %span 1-3
      
-#       %li.parent
-#         %h3
-#           =link_to '/' do
-#             %span リスト2
-#         %ul.child-warp
-#           %li.child
-#             =link_to '/' do
-#               %span 2-1
-#             %ul.grand-child-warp
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 2-1-1
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 2-1-2
-#               %li.grand-child
-#                 =link_to '/' do
-#                   %span 2-1-3
-#           %li.child
-#             =link_to '/' do
-#               %span 2-2

-#           %li.child
-#             =link_to '/' do
-#               %span 2-3

-#       %li.parent
-#         %h3
-#           =link_to '/' do
-#             %span リスト3
-#         %ul.child-warp
-#           %li.child
-#             =link_to '/' do
-#               %span 3-1
-#           %li.child
-#             =link_to '/' do
-#               %span 3-2
-#           %li.child
-#             =link_to '/' do
-#               %span 3-3

-#       %li.parent
-#         %h3
-#           =link_to '/' do
-#             %span リスト4
-#         %ul.child-warp
-#           %li.child
-#             =link_to '/' do
-#               %span 4-1
-#           %li.child
-#             =link_to '/' do
-#               %span 4-2
-#           %li.child
-#             =link_to '/' do
-#               %span 4-3
