.card-box
  %div.card-box__header 支払い方法
  %div.card-box__list クレジットカード一覧
  %div.card-box__btn
    = link_to "クレジットカードを追加する", new_card_path
  %div.card-box__underline
  %div.card-box__payment お支払い方法について