.header{
  padding: 0 60px; 
   &__top{
     width: 100%;
     max-width: 1100px;
     height: 50px;
     margin: 0 auto;
     margin-top: 20px;
     display: flex;
     text-align: center;
     position: relative;
    }
    &__title{
      margin-right: 30px;
    }
    &__searchBox{
      width: 100%;
      margin: 0 auto;
      form{
       display: flex;
       width: 100%;
       margin-bottom: 10px;
       height: 40px;
      .search-box{
        width: 100%;
       }
      .search__button{
       width: 35px;
       background-color: $selection-color;
       &__icon{
        padding: 8;
       }
      }
    img{
     width: 20px;
     background-color: $selection-color;
     }
    }
   }
   
   &__bottom{
     display: flex; 
    &-left{
     display: flex;
     }                  
    .categoryBox{
     display: flex;
     flex-direction: column;
     a{
      text-decoration: none;
      color: #333;
     }
    }
    .category_parents{
      display: block!important;
    }
    .brand_box{
      a{
       text-decoration: none;
       color: $black-color;
      }
    }
    &-right{
      display: flex;
      margin-left: auto;
      .user_box a{
       text-decoration: none;
       color: $black-color;
      }
    }
   } 
} 