.signup--header{
  // width: 100px;
  // height: 100px;
}


.signup--main{
  background-color: white;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  .signup--text{
    border-bottom: solid 1px lightgray;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .facebookBtn{
    background-color: lightskyblue;
    width: 200px;
    height: 100px;
    margin: 0 auto;
  }

  .googleBtn{
    background-color: lightyellow;
    width: 200px;
    height: 100px;
    margin: 0 auto;
  }
}

.signup--footer{
  padding-top: 100px;
}