/*変数定義*/
$selection-color:#3CCACE;



.main{
  .content{
    width: 100%;
    height: 600px;
    align-items: center;
    background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    position: relative;
    &__subtitle{
      width: 100%;
      position: absolute;
      margin: 0 auto;
      text-align: center;
      .content__heading {
        color: #fff;
        font-size: 60px;
      }
      .content__text{
        color: #fff;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .concent__btn{
        display: flex;
        .AppBtn{
          display: block;
          img{
            object-fit:cover;
          }
        }
        .GooBtn{
          display: block;
          img{
            object-fit:cover;  
          }
         }
        }
       } 
      }


  .Explanation{
    padding: 60px 20px;
    margin-top: 50px;
    .subtitle{
     text-align: center;
     font-size: 30px;
     font-weight: bold;
     &::after{
      content: '';
      width: 70px;
      height: 5px;
      background-color: $selection-color;
      margin-bottom: 0;
      display: block;
      margin: 0 auto;
     }
    }
    .lists{
      display: flex;
      margin: 0 auto;
      width: 1000px;
      margin-top: 50px;
      .list{
        width: 30%;
         display: flex;
         flex-direction: column;
         height: 400px;
         margin-right: 50px;
         text-align: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            position: absolute; 
            top: 0;
            left: 0;
            font-size: 30px;
            background-color: $selection-color;
            color: white;
            width: 50px;
           }  
         }  
       }
     }
   }

  .middle__content{
    height: 400px;
    align-items: center;
    background-image: url(/assets/bg-topMiddleDl-pict-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.jpg);
    background-position: center;
    &__inner{
      width: 100%;
      .text{
        font-size: 20px;
        color: #fff;
      }
    }
    .subtitle{
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px;
      padding-top: 10px;
    }
   &_btn{
     display: flex;
   }
  }
  .concept{
    margin-top: 50px;
    padding: 60px  80px;
    .head{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      &::after{
        content: '';
        width: 70px;
        height: 5px;
        background-color:$selection-color; 
        margin-bottom: 0;
        display: block;
        margin: 0 auto;
       }
    }
    .items{
      display: flex;
      width: 1000px;
      margin: 0 auto;
      margin-top: 20px;
      .item{
        width: calc(1/3 *100%);
        margin-right: 30px;
        .item__subtitle{
          font-weight: bold;
          font-size: 20px;
          margin-top: 20px;
        }
      }
    } 
   }
  .recommendCategory{
    padding: 80px 0;
    background-color: #f8f8f8;
   .head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
   }
   .productBox{
    .productHead{
      text-align: center;
      font-size: 30px;
      color:$selection-color;     
      font-weight: bold;
     }
    .productLists{
      display: flex;
      justify-content: space-around;
      margin: 30px 0;
      width: 800px;
      margin: 0 auto;
      .productList{
        width: 200px;
      }
     }
    }
   }

  
  .recommendBrand{
    padding: 80px;
    background-color: #f8f8f8;
    .head{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
     }
     .productBox{
       margin-bottom: 80px;
      .productHead{
        text-align: center;
        font-size: 30px;
        color: $selection-color;  
        font-weight: bold;
       }
      .productLists{
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        width: 800px;
        margin: 0 auto;
        .productList{
          width: 200px;
       }
      }
     }
   }
  .footBar{
    position: relative;
    padding: 100px 40px;
    background-image: url(/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg);
    background-size: cover;
    background-position: center;
    .inner{
      color: #fff;
      &__title{
        font-size: 25px;
        font-weight: bold;
      }
      &__text {
        font-size: 35px;
      }
      &__icon{
        margin-top: 10px;
        display: flex;
        width: 100%;
      }
    }
  }





}