@mixin bottomline(){
  &::after{
    content: '';
    width: 70px;
    height: 5px;
    margin-bottom: 0;
    display: block;
    margin: 0 auto;
    background-color:$selection-color;
   }
  }

  @mixin must_mark{
    background: #3CCACE;
              color: white;
              width: 50px;   
              border-radius: 5px;
              margin: 0 ;
              margin-left: 10px;
  }
  
  @mixin submit{
    color: white;
        width: 250px;
        height: 30px;
        background-color: #3CCACE;
        border-radius: 5px;
        font-size: 15px;
        &:hover{
          opacity: 50%;
        }
  }

  @mixin underline{
    display: block;
    border-width: 0;
    border-bottom: 1px solid #F2F2F2;
  }

  @mixin form-body{
    width: 700px;
    background: #fff;
    height: fit-content;
  }
  
  @mixin form-header{
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    border-bottom:solid 2px $selection-color;
    padding: 10px;
  }
  
  @mixin form-frame(){
    width: 50%;
    margin: 0 auto;
  }
  
  @mixin top {
    &--top{
      margin: 25px 0 5px;
    }
  }
  
  @mixin required(){
    font-size: 13px;
    background-color: $selection-color;
    padding: 4px 7px 4px 5px;
    font-family: monospace;
    color: white;
    border-radius: 2px;
  }
  
  @mixin any(){
    font-size: 13px;
    background-color: dimgray;
    padding: 4px 7px 4px 5px;
    font-family: monospace;
    color: white;
    border-radius: 2px;
  }
  
  @mixin input{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: solid 1px $selection-color;
    font-size: 17px;
    padding-left: 20px;
  }
  
  @mixin submit-btn{
    background-color: $selection-color;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
  }

//メディアクエリのmax-widthの設定
  @mixin max {
    @media (max-width: ($max)) {
      @content;
    }
  }
  @mixin mid {
    @media (max-width: ($mid)) {
      @content;
    }
  }
  @mixin min {
    @media (max-width: ($min)) {
      @content;
    }
  }
  


