*{

}

//side：width=280px
//content：width=700px

.default-container{
  
  .container{
    //サイドメニューおよびメインコンテンツの設定
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    overflow: scroll;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    

    .side{
    //サイドバーの設定
    float: left;
    width: 280px;
    height: 1252px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    padding-left: 200px;
    
      .mypage-nav{
        //サイドメニューの設定

        &__head{
          padding-top: 20px;
          font-weight: bold;
        }
        
        &__list li{
          //メニューの枠組み
          border-top: solid 1px #eee;

        }
     
        &__list-item{
          //メニューアイテム
          box-sizing: border-box;
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
        }
        &__list-item::after{
          // list-item(各々のメニュー)へ矢印(::after)を作成する
          position: absolute;
          top: 50%;
          right: 13px;
          content: '';
          width: 8px;
          height: 8px;
          border-top: 2px solid #ccc;
          border-right: 2px solid #ccc;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all .2s;
        }
        &__list-item:hover::after {
          // ホバーしたら矢印(::after)動く
          // デフォルト位置より4px分右に動く
          right: 9px;
          // デフォルトの灰色から黒色へ変化させる
          border-color: black;
        }
        &__list-item:hover {
          //ホバーしたら背景色を変化させる
          background: #f7f6fb;
        }
        &__list-item:active{
          //アクティブに変化したら背景色を変化させる
          background-color: #eee;
        }
        
      }
    }








    
    .content{
      float: right;
      width: 700px;
      // height: 1223px;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      padding-right: 200px;



      .mypage-user-icon{
      //ユーザー写真
        height: 200px;
        background-image:url("kirakira.jpg");
        background-repeat: no-repeat;
        &:before {
          content: '';
           display: inline-block; 
           width: 32px; 
           height: 32px;
           background-image: url('../images/icon.png');
           //width, heightと同じになる
           background-size: contain; 
           background-repeat: no-repeat;
           //文字に合わせて中央ぞろえになる
           vertical-align: middle; 
        }
      }



      .mypage-table-container-notification-todo{
        //ユーザーのタスクに関する一覧
        list-style: none;
  
        .mypage--tabs{
          margin-top: 12px;
          .tab-label {
            display: inline-block;
            border: 1px solid #999;
            background-color: #f3f3f3;
            margin-left: 1px;
            margin-right: 1px;
            padding: 3px 6px;
            border-bottom: none;
            font-size: 0.9em;
            width: 350px;
            &:hover {
              opacity: 0.7;
            }
          }
          input[name="tab-radio"] {
            display: none;
          }
          .mypage--tabs-content {
            display: none;
            border: 1px solid #999;
            padding: 10px;
            min-height: 5px;
            position: relative;
            width: 700px;
            &::after{
              // list-item(各々のメニュー)へ矢印(::after)を作成する
              position: absolute;
              top: 50%;
              right: 13px;
              content: '';
              width: 8px;
              height: 8px;
              border-top: 2px solid #ccc;
              border-right: 2px solid #ccc;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition: all .2s;
            }
            &:hover::after {
              // ホバーしたら矢印(::after)動く
              // デフォルト位置より4px分右に動く
              right: 9px;
              // デフォルトの灰色から黒色へ変化させる
              border-color: black;
            }
            &:hover {
              //ホバーしたら背景色を変化させる
              background: #f7f6fb;
            }
            &:active{
              //アクティブに変化したら背景色を変化させる
              background-color: #eee;
            }
          }
          #tab-1:checked ~ .tab-1-content, #tab-2:checked ~ .tab-2-content{
            display: block;
          }
          input[name="tab-radio"]:checked + .tab-label {
            background-color: #fff;
          }
        }
        
      }


      .mypage-tab-container{
        list-style: none;
        padding-top: 40px;
        .mypage--tab-head{
          //・購入した商品
          font-weight: bold;
          background-color: #fff;
          }
        
        .mypage--tabs{
          margin-top: 12px;
          .tab-label {
            display: flex;
            border: 1px solid #999;
            background-color: #f3f3f3;
            margin-left: 1px;
            margin-right: 1px;
            padding: 3px 6px;
            border-bottom: none;
            font-size: 0.9em;
            width: 350px;
            &:hover {
              opacity: 0.7;
            }
          }
          input[name="tab-radio"] {
            display: none;
          }
          .mypage--tabs-content{
            display: none;
            border: 1px solid #999;
            padding: 10px;
            min-height: 5px;
            position: relative;
            width: 700px;
            &::after{
              // list-item(各々のメニュー)へ矢印(::after)を作成する
              position: absolute;
              top: 50%;
              right: 13px;
              content: '';
              width: 8px;
              height: 8px;
              border-top: 2px solid #ccc;
              border-right: 2px solid #ccc;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition: all .2s;
            }
            &:hover::after {
              // ホバーしたら矢印(::after)動く
              // デフォルト位置より4px分右に動く
              right: 9px;
              // デフォルトの灰色から黒色へ変化させる
              border-color: black;
            }
            &:hover {
              //ホバーしたら背景色を変化させる
              background: #f7f6fb;
            }
            &:active{
              //アクティブに変化したら背景色を変化させる
              background-color: #eee;
            }
          }
          #tab-3:checked ~ .tab-3-content, #tab-4:checked ~ .tab-4-content{
            display: block;
          }
          input[name="tab-radio"]:checked + .tab-label {
            background-color: #fff;
          }
        }
        
      
      }
    }
  }
 

      
    
  
}
