*{

}

//side：width=280px
//content：width=700px
  
  .container{
    //サイドメニューおよびメインコンテンツの設定
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    overflow: scroll;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    

    .side{
    //サイドバーの設定
    float: left;
    width: 280px;
    height: 1252px;
    padding-left: 200px;
    
      .mypage-nav{
        //サイドメニューの設定

        &__head{
          padding-top: 20px;
          font-weight: bold;
        }
        
        &__list li{
          //メニューの枠組み
          border-top: solid 1px #eee;

        }
     
        &__list-item{
          //メニューアイテム
          box-sizing: border-box;
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
        }
        &__list-item::after{
          // list-item(各々のメニュー)へ矢印(::after)を作成する
          position: absolute;
          top: 50%;
          right: 13px;
          content: '';
          width: 8px;
          height: 8px;
          border-top: 2px solid #ccc;
          border-right: 2px solid #ccc;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all .2s;
        }
        &__list-item:hover::after {
          // ホバーしたら矢印(::after)動く
          // デフォルト位置より4px分右に動く
          right: 9px;
          // デフォルトの灰色から黒色へ変化させる
          border-color: black;
        }
        &__list-item:hover {
          //ホバーしたら背景色を変化させる
          background: #f7f6fb;
        }
        &__list-item:active{
          //アクティブに変化したら背景色を変化させる
          background-color: #eee;
        }
        
      }
    }








    
    .content{
      float: right;
      width: 700px;
      height: 1223px;
      padding-right: 200px;

      .user{
      .user-image{
         //ユーザー写真
         height: 200px;
         background-image:url("images/kirakira.jpg");
         background-repeat: no-repeat;
        // display: flex;
        text-align: center;

         .user-icon{
          //文字に合わせて中央ぞろえになる
          //  vertical-align: middle; 
          //  justify-content: center;
          // text-align: center;
        &:before {
          content: '';
           display: flex; 
           width: 50px; 
           height: 50px;
           background-image: url("images/user_image.JPG");
           //width, heightと同じになる
           background-size: contain; 
           background-repeat: no-repeat;
           border-radius: 50%;
        }
        .user-name{
          // text-align: center;
          font-size: 14px;
          font-weight: bold;
          // margin: 0 auto;
        }
      }
    
      }
    }
      .mypage{
        //ユーザーのタスクに関する一覧
        list-style: none;
        width: 100%;
        .mypage--list{
          display: flex;
            &--info{
              //お知らせ
              font-weight: bold;
              background-color: #fff;
              width: 50%;
              height: 74px;
              display: flex;
              align-items: center;
              justify-content: center;
              
            }

            &--todo{
              //やることリスト
              font-weight: bold;
              background-color: #fff;
              width: 50%;
              height: 74px;
              display: flex;
              align-items: center;
              justify-content: center;
              
            }
            
            &--info:hover{
              //ホバーすると透明度が変化するように設定
              opacity: 0.6;
              
            }
            
            &--info:active{
              //アクティブに変化すると背景色と上線が変化
              background-color: #eee;
              border-top: solid 2px red;
            } 
            
            &--todo:hover{
              //ホバーすると透明度が変化するように設定
              opacity: 0.6;
            }
            
            &--todo:active{
              //アクティブに変化すると背景色と上線が変化
              background-color: #eee;
              border-top: solid 2px red;
            }
        }
        .tab--list{
          background-color: #fff;
          position: relative;
          .tab--list--info{
            text-align: left;
            display: none;
            border-bottom: solid 1px #eee;
            .mypage-go-list{
              background-color: #fff;
              width: 700px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;          
    
              & a{
                display:block;
                max-width:600px;
                margin:20px auto;
                padding:10px 20px;
                background:#eee;
                color: black;
                text-align:center;
                text-decoration: none;
                width: 600px;
    
              }
            }
    
          }
          & --list--info::after{
            position: absolute;
            top: 50%;
            right: 13px;
            content: '';
            width: 8px;
            height: 8px;
            border-top: 2px solid #ccc;
            border-right: 2px solid #ccc;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: all .2s;
          }


          .tab--list--todo{
            text-align: left;
            display: none;
            border-bottom: solid 1px #eee;
            .mypage-go-list{
              background-color: #fff;
              width: 700px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;          
    
              & a{
                display:block;
                max-width:600px;
                margin:20px auto;
                padding:10px 20px;
                background:#eee;
                color: black;
                text-align:center;
                text-decoration: none;
                width: 600px;
    
              }
            }
    
          }
          .tab--item-not-found{
            //やることがない際に表示される
            text-align: center;
          }
        }
        
      }


      .goods{
        //ユーザーのタスクに関する一覧
        list-style: none;
        width: 100%;
        padding-top: 40px;
        .goods-name{
          //購入した商品
          background-color: #fff;
          font-weight: bold;
        }
        .goods-purchase{
          background-color: #fff;
          display: flex;
            &--transaction{
              //お知らせ
              font-weight: bold;
              background-color: #fff;
              width: 50%;
              height: 74px;
              display: flex;
              align-items: center;
              justify-content: center;
              
            }

            &--post{
              //やることリスト
              font-weight: bold;
              background-color: #fff;
              width: 50%;
              height: 74px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            
            &--transaction:hover{
              //ホバーすると透明度が変化するように設定
              opacity: 0.6;
            }
            
            &--transaction:active{
              //アクティブに変化すると背景色と上線が変化
              background-color: #eee;
              border-top: solid 2px red;
            } 
            
            &--post:hover{
              //ホバーすると透明度が変化するように設定
              opacity: 0.6;
            }
            
            &--post:active{
              //アクティブに変化すると背景色と上線が変化
              background-color: #eee;
              border-top: solid 2px red;
            }
        }
        .tab-list{
          background-color: #fff;
          .tab-list--transaction{
            text-align: left;
            display: none;
            border-bottom: solid 1px #eee;
            .goods-go-list{
              background-color: #fff;
              width: 700px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;          
              & a{
              //一覧を見る
              display:block;
              max-width:600px;
              margin:20px auto;
              padding:10px 20px;
              width: 600px;
              background:#eee;
              color:black;
              text-align:center;
              text-decoration: none;
                & a:active{
                  background-color: lightgray;
                }
              }
            }
    
          }

          .tab-list--post{
            text-align: left;
            display: none;
            border-bottom: solid 1px #eee;
            .goods-go-list{
              background-color: #fff;
              width: 700px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;          
              & a{
              //一覧を見る
              display:block;
              max-width:600px;
              margin:20px auto;
              padding:10px 20px;
              width: 600px;
              background:#eee;
              color:black;
              text-align:center;
              text-decoration: none;
                & a:active{
                  background-color: lightgray;
                }
              }
            }
          }
          .tab-item-not-found{
            //やることがない際に表示される
            text-align: center;
            
          }
        }
        
      }
    }

  }
 
