html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

// ここより上がリセットscss
@mixin must_mark{
  background: #3CCACE;
            color: white;
            width: 50px;   
            border-radius: 5px;
            margin: 0 ;
            margin-left: 10px;
}

@mixin submit{
  color: white;
      width: 250px;
      height: 30px;
      background-color: #3CCACE;
      border-radius: 5px;
      font-size: 15px;
      &:hover{
        opacity: 50%;
      }
}

html{
  
  background-color: whitesmoke;

  body{
    text-align: center;
    margin:100px 200px ;
    background-color: white;
    
    img{
     height: 80px;
    }
    
    h2{
      font-size: 20px;
      padding-top: 40px;

      
    }
    
    form{
      margin-top: 50px;
      .field{
        margin: 35px;
        .content_must{
          display: flex;
          justify-content: center;
         .must{
            @include must_mark;
         }
        }
        .forms_kana, .forms_name{
          display: flex;
        }
      }
      .form_name_kana, .form_name{
        display: flex;
        justify-content: center;
        #user_last_name_kana, #user_last_name{
          width: 140px;
          margin-right: 19px;
        }
        #user_first_name_kana, #user_first_name{
          margin-top: -15px;
          width: 140px;
          margin-left: 19px;
        }

        
      }
    }

    
    .signup{
      margin: 30px;
    }

    
    #user_nickname, #user_password, #user_email,
    #user_password_confirmation, #user_first_name_kana, 
    #user_last_name_kana, #user_first_name, #user_last_name{
    height: 30px;
    width: 330px;
    border-radius: 5px;
    }

    #user_birthday_1i, #user_birthday_2i, #user_birthday_3i{
      height: 30px;
      width: 80px;
      font-size: 15px;
    }
    
    .submit-btn{
      @include submit;
    }

    .login{
      margin-bottom: 30px;
    }
  }
}


.forget_password{
  margin: 30px;
}

.new_user{
  margin: 30px;
}












