.wrapper
  = render 'items/header'


.categoryIndex
  %h1 カテゴリー一覧
  %br
  %ul.category1
    - @category_parent.each do |parent|
      %li.parent_list_top
        = link_to parent.name,"#"
        -# %ul.category2
        -#   - parent.children.each do |child|
        -#     %li.child_list_top
        -#       =child.name
        -#       %ul.category3
        -#         - child.children.each do |grandchild|
        -#           %li.grandchild_list_top
        -#             =grandchild.name
  
  %ul.category1
    - @category_parent.each do |parent|
      %li.parent_list
        .parent_name
          = parent.name
        %ul.category2
          - parent.children.each do |child|
            %li.child_list{style:"text-indent:1em"}
              .child_name
                = child.name
              %ul.category3
                - child.children.each do |grandchild|
                  %li.grandchild_list{style:"text-indent:2.5em"}
                    .grandchild_name
                      =link_to grandchild.name,"#"



:css
  .categoryIndex{
    padding-top: 30px;
    width : 50%;
    margin: 0 auto;
  }

  h1{
    font-size: 25px;
  }

  .parent_list_top{
    display: inline;
    font-size: 20px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    white-space: nowrap; 
    background-color: white;
    line-height: 50px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  
  li.parent_list{
    border-style: solid;
    background-color: white;
    margin-top:50px;
  }

  .parent_name{
    background-color: #3CCACE;
    font-size: 30px;
    padding: 10px;
    color: white;
    font-weight: bold;
  }

  .child_name{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
  }

  .grandchild_name{
    font-size: 20px;
    padding: 10px;
  }

